# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# вывод dir-hunter
*.report.txt
*.report.json
report.txt
report.json
out/
results/

# ОС и редакторы
.DS_Store
Thumbs.db
.idea/
.vscode/
